body {
  font-size: 20px;
  background-color: ##c0ebff;
  color: ##c0ffd5;
}

header {
  position: relative;
  height: 150px;
  background-color:#ffc0cb;
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
}

h1 {
  font-size: 60px;
  font-color:#c0ffd5;
  
