body {
  margin: 0 auto;
  background-color: #ffd5c0;
  width: 950px;
}

header {
  position: relative;
  height: 150px;
  background-color: #ffc0cb;
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
  top: 20px;
}

h1 {
  font-size: 60px;
  color: #c0ffd5;
  font-weght: bold;
  text-align: center;
  text-shadow: 0px 1px 1px;
  margin: 0px;
}

nav {
  height: 50px;
  width: 800px;
  margin: 0px 0px 0px 60px;
}

nav ul {
  text-align: center;
  font-family: georgia;
  font-style: italic;
  list-style: none;
}

nav ul li {
  display: inline-block;
  height: 20px;
  width: 90px;
  margin: 0px 55px 0px 5px;
  white-space: nowrap;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 20px 5px 20px;
  background-color: #c0ebff;
  color: #fff;
  text-shadow: 0px 1px 1px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

article {
  position: relative;
  top: 35px;
  background-color: #c0ebff;
  border-style: solid;
  border-width: 10px;
  border-color: #fff;
  text-shadow: 0px 1px 1px;
  height: 600px;
  width: 600px;
}

article h2 {
  color: #fff;
  font-size: 24px;
  line-height: 14px;
  margin: 20px 0px 0px;
  padding: 10px 20px;
  font-style: bold;
  text-shadow: 0px 1px 1px;
}

article p {
  color: rgba (0,0,0,.5);
  font-size: 16px;
  line-height: 24px;
  padding: 2px 20px;
}

section {
  background-color: #ffc0cb;
  border-style: solid;
  border-width: 4px;
  border-color: #fff;
  padding: 0px;
  margin: 10px 10px;
}

section h3 {
  color: #cbffc0;
  font-size: 22px;
  line-height: 14px;
  margin: 10px 0px 0px;
  padding: 20px 5px 0px 20px;
  font-style: bold;
  text-shadow: 0px 1px 1px;
}

section p {
  color: #fff;
  font-size: 15px;
  font-style: italic;
  line-height: 22px;
}

aside {
  position: relative;
  top: -585px;
  left: 640px;
  background-color: #c0ebff;
  border-style: solid;
  border-width: 10px;
  border-color: #fff;
  text-shadow: 0px 1px 1px;
  height: 600px;
  width: 290px;
}

aside h2 {
  color: #fff;
  font-size: 24px;
  line-height: 14px;
  margin: 20px 0px 0px;
  padding: 10px 20px;
  font-style: bold;
  text-shadow: 0px 1px 1px;
}

aside p {
  color: rgba (0,0,0,.5);
  font-size: 16px;
  line-height: 24px;
  padding: 10px 20px 0px 20px;
}

aside ul {
  text-align: center;
  font-family: georgia;
  font-style: italic;
  list-style: none;
  border-radius: 16px;
}

aside ul li {
  display: inline-block;
  height: 20px;
  white-space: nowrap;
  border-radius: 16px;
}

aside ul li a {
  text-decoration: none;
  padding: 5px;
  background-color: #c0ffd5;
  color: #fff;
  text-shadow: 0px 1px 1px;
  border-width: 2px;
  border-style: solid;
  border-color: #c0ffd5;
  border-radius: 16px;
}

footer {
  border-color: #fff;
  border-style: solid;
  border-size: 10px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #ffc0cb;
  top: -566px;
  position: relative;
}
